{% extends 'fpq_core/form.html' %}

{% block title %}Create a new author{% endblock %}

{% block form %}
  <div class="row mb-3">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">{{ form.name }}</div>
    {% if form.errors.name %}
      <div class="invalid-feedback">{{ form.errors.name }}</div>
    {% endif %}
  </div>

  <div class="row mb-3">
    <label for="born-date" class="col-sm-2 col-form-label">Born date</label>
    <div class="col-sm-10">{{ form.born_date }}</div>
    {% if form.errors.born_date %}
      <div class="invalid-feedback">{{ form.errors.born_date }}</div>
    {% endif %}
  </div>

  <div class="row mb-3">
    <label for="born-location" class="col-sm-2 col-form-label">Born location</label>
    <div class="col-sm-10">{{ form.born_location }}</div>
    {% if form.errors.born_location %}
      <div class="invalid-feedback">{{ form.errors.born_location }}</div>
    {% endif %}
  </div>

  <div class="row mb-3">
    <label for="bio" class="col-sm-2 col-form-label">Bio</label>
    <div class="col-sm-10">{{ form.bio }}</div>
    {% if form.errors.bio %}
      <div class="invalid-feedback">{{ form.errors.bio }}</div>
    {% endif %}
  </div>
{% endblock %}
